body {
    background-color: #FCFEFE;
    color: black;
    font-size: 20px;
    margin: 0 40px;
    font-family: 'Noto Sans JP', sans-serif;
}

h1 {
    font-size: 3vw;
    font-family: 'Contrail One', cursive;
}

h2 {
    font-size: 1.5vw;
    font-family: 'Contrail One', cursive;
}

h3 {
    text-align: left;
    font-family: 'Contrail One', cursive
}

section {
    background-color: #CACACA;
    padding: 10px 20px 20px;
    margin: 20px 0;
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: #f5f3f1;
    border-radius: 10px;
}

.diagram {
    width: 50%;
    background-color: #cfb4c6;
    padding: 20px;
}

.code {
    width: 50%;
    align-self: center;
}

.code p {
    text-align: center;
    padding: 20px;
}

#relative-cat {
    position: relative;
    top: 22px;
    left: 300px;
    width: 310px;
    height: auto;
}

#absolute-cat {
    position: absolute;
    width: 310px;
    height: auto;
}

#fixed-cat {
    position: fixed;
    top: 89%;
    left: 19.5%;
    width: 310px;
    height: auto;
}