.center, right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {justify-content: flex-end;}

.hero {
    background: url(../img/hero.JPG) center / cover;
}

.is-overlay {
    top: 400px;
    right: 100px;
}

.button {
    margin-top: 20px;
}

.box {
    min-height: 200px;
}
